// ======================================
//  Variables
// ======================================


// Colors
$primary-gradient: linear-gradient(to right, #7FF0B6, #32ACBE);
$text-color-header: #00A99D;
$text-color: black;
$primary-grey: #CCCCCC;
$primary-grey-light: #F2F2F2;
$background-color: white;

// fonts

$primary-font: 'IBM Plex Mono', monospace;

$max-width: 350px;
