.list {
  @include WiHe(90%, auto);
  padding-top: 3.5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
.list-item {
  @include flexy($dir: row);
  align-items: center;
}
  li{
    margin-top: 15px;
  }

  .css-checkbox {
    margin-right: 1rem;
  }

  button {
    @include decoration($brd: none);
    @include WiHe(1rem, 1rem);
    margin-left: auto;
    background-image: url(../assets/bin.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-color: transparent;
  }
}
