.add-button {
  @include decoration($brd: none);
  @include WiHe(1.3rem, 1.3rem);
  background-image: url(../assets/addbutton.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-color: transparent;

}

.add-button:active {
  opacity: 0.5;
}


.bold,
.italic,
.underline {
  @include decoration ($brd: none);
  @include flexy($just: center, $dir: row);
  @include WiHe(33.33333%, 100%);

  background-color: none;
}

.clicked {
  @include decoration ($brd: none);
  background-color: #00A99D;

}
