.entry {
  @include WiHe(90%, 2.1rem);
  @include flexy($just: space-around);
  align-items: center;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  border-bottom: 1px solid $primary-grey;
  margin-left: auto;
  margin-right: auto;
.entry-field {
  @include WiHe(80%, 1rem);
  @include decoration($brd: none);
  background-color: $primary-grey-light;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  font-weight: lighter;
  font-family: $primary-font;
  border-radius: 0.2rem;

}
}
