html {
  height: 550px;
  width: 350px;
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  background-color: $background-color;
  font-family: $primary-font;
}
